$font-color: #555;

$gradient-font-color: #fff;
$l-gradient: #64447A;
$r-gradient: #F8EEA7;

$navbar-color: #373737;
$navbar-over-color: #4B4B4B;
$navbar-font-color: lighten(#373737, 20%);
$navbar-highlight-font-color: #fff;

$icon-font-color: #fff;

$button-inactive-color: #373737;
$button-active-color: #5a3b7f;
$button-font-color: #fff;

$secondary-first: #5a3b7f;
$secondary-first-highlight: #eeebf2;

$secondary-second: #5072a3;
$secondary-second-highlight: #edf1f6;

$secondary-third: #303b56;
$secondary-third-highlight: #eaebee;

$separator-line-color: #bfbfbf;

$iparc-blue: #007CAC;
$iparc-background: #F2F2F2;
$iparc-white: #ffffff;
$iparc-border-grey: #D9D9D9;
$iparc-box-shadow-grey: #D0D0D0;