$icomoon-font-path: "fonts" !default;

$iparc-icon-antenna: "\e914";
$iparc-icon-modem: "\e915";
$iparc-icon-post_client: "\e916";
$iparc-icon-simcard: "\e917";
$iparc-icon-user: "\e912";
$iparc-icon-toolbox: "\e913";
$iparc-icon-catalog: "\e911";
$iparc-icon-ic_france: "\e900";
$iparc-icon-ic_tc: "\e901";
$iparc-icon-ic_fiche-idc: "\e902";
$iparc-icon-arrow-down: "\e903";
$iparc-icon-arrow-left: "\e904";
$iparc-icon-arrow-right: "\e905";
$iparc-icon-arrow-up: "\e906";
$iparc-icon-ic_schema: "\e907";
$iparc-icon-ic_liste: "\e908";
$iparc-icon-grid: "\e909";
$iparc-icon-commentaire: "\e90a";
$iparc-icon-help: "\e90b";
$iparc-icon-configuration: "\e90c";
$iparc-icon-connectivite: "\e90d";
$iparc-icon-accounting: "\e90e";
$iparc-icon-cross: "\e90f";
$iparc-icon-electric_cabinet: "\e910";
$iparc-icon-faq: "\e91c";
$iparc-icon-historique: "\e922";
$iparc-icon-menu-more: "\e927";
$iparc-icon-notif: "\e928";
$iparc-icon-search: "\e92a";
$iparc-icon-trash: "\e92e";

